<img src="assets/phone1.png" style="width: 30%; margin-left: 20vh;" />
<div style="position: absolute; height: 50px; left: auto; right: 25vh; top: 15vh ;">
<div>
  <h1 style="color: #18E68E;
text-align: center;
font-family: 'Inter';
font-weight: 800;
font-size: 55Px;
text-shadow: #18E68E 5px 0px 24px;
line-height: 67px;">Grow up <br>
Your service</h1>
</div>

<div>
  <h6 style="margin-top: 5vh;color: #18E68E;">Account Login</h6>
  <p style="color: #ADA8B8;">If you are already member you can login <br> your email address and password.</p>
    <div>
    <input class="form-control"  placeholder="User Name" type="text">
    <input class="form-control" placeholder="Password" type="password">
    <div>
      <button class="btn btn-fill btn-primary" type="submit">login</button>
    </div>
    <div class="row" style="text-align: center; ">
    <p style="color: #fff; text-align: center; font-size: smaller; margin-top: 2vh ; padding-right: 30%;">Forgot your password ?</p>
    <p style="padding-left: 35%; position: absolute   ; color: #18E68E; text-align: center; font-size: smaller; margin-top: 2vh ;">Retrive</p>
  </div>

  </div>
</div>
</div>

